<!DOCTYPE html>
<html lang="en-us">

  {% comment %}
    Dev layout switch: flip to "classic" to restore the Hyde sidebar.
  {% endcomment %}
  {% assign site_layout = "modern" %}

  {% include head.html %}

  <body class="theme-base-not-purpz" data-layout="{{ site_layout }}">

    {% if site_layout == "classic" %}
      {% include sidebar.html %}
    {% else %}
      {% include topbar.html %}
    {% endif %}

    <div class="content{% if site_layout == 'modern' %} content--with-toc{% else %} container{% endif %}">
      <div class="content-main">
        {{ content }}
      </div>
      {% if site_layout == "modern" %}
        <aside class="toc" id="toc" hidden aria-label="Table of contents"></aside>
      {% endif %}
    </div>

    {% if site_layout == "modern" %}
      {% include footer.html %}
      <script src="{{ site.url }}/assets/js/toc.js"></script>
    {% endif %}

  </body>
  <link rel="stylesheet" type="text/css" href="{{site.url}}/css/syntax.css"> <!-- IMPORTANT -->
  <script src="https://use.fontawesome.com/ba4ba69796.js"></script>

</html>
